doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    script(src="/javascripts/controller.js")
  body
    a(href="/solution-one") solution one
    span -
    a(href="/solution-two") solution two
    span -
    a(href="/solution-three") solution three
    block content