extends layout

block content
  div(ng-controller="UserThreeCtrl", ng-init="users= #{JSON.stringify(users)}")
    h1= title
    p Welcome to #{title}
    ul
      li(ng-repeat="user in users") {{user.name}} - {{user.email}}