extends layout

block content
  h1 Welcome to the match
  p Whenever a player scores a goal click on the button
  p
    button.btn-player(type="button", id="1") John
    span - #{john}
  p
    button.btn-player(type="button", id="2") Jack
    span - #{jack}
  p
    button.btn-player(type="button", id="3") Chris
    span - #{chris}
  p
    button.btn-player(type="button", id="4") Nick
    span - #{nick}