<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

{% if site.twitter_user %}
  <meta name="twitter:card" content="summary">
  <!--<meta name="twitter:site" content="{{ site.twitter_user }}">-->
  <meta name="twitter:creator" content="{{ site.twitter_user }}">
  <meta name="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <!--<meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">-->
  <meta name="twitter:description" content="{{ page.twitter_desc }}">
{% endif %}